* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
  font-family: "Poppins", serif;
}

/* Header */

header {
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-block-end: 32px;
  max-width: 760px;
}

header h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 auto;
  margin-block: 40px;
  max-width: 640px;
  text-align: center;
}

header div {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
}

/* Section */
section {
  /* border: 1px solid blue; */
  margin: 0 auto;
  max-width: 760px;
}

.section-article {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-block-end: 44px;
}

.section-article img {
  border-radius: 12px;
}

.info-description {
  font-size: 1.25rem;
  font-weight: 600;
}

.info-date {
  color: #4d5562;
  font-size: 0.875rem;
  font-weight: 500;
  margin-block-start: 16px;
}

/* Footer */
.author-info {
  color: rgb(55, 65, 81);
  font-size: 0.875rem;
  margin-block: 16px;
  text-align: center;
}

.author-info a {
  text-decoration: none;
}
